@charset "utf-8";
/* reset, normalize
---------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  vertical-align: bottom;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* font
---------------------------------------- */
html {
  font-size: 625%;
}
body {
  font-size: 0.15em;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}
p {
  font-size: 0.14rem;
}
/* content
---------------------------------------- */
.c-header {
  width: 220px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #d8cfc7;
}
.c-header__inner {
  margin: 40px 0;
  padding: 40px 20px;
  background-color: #f3f2ee;
}
.c-header__logo {
  margin: 0 auto;
  text-align: center;
}
.c-header__logo img {
  max-width: 100%;
  height: auto;
}
.c-header__nav {
  font-weight: bold;
  bottom: 0;
  margin: 100px 0;
  background-color: #f3f2ee;
  padding: 40px 0 200px;
  list-style-type: none;
}
.c-header__navitem {
  margin: 20px 0;
}
.c-header__navitem a {
  color: #666;
  font-size: 0.14rem;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
}
.c-header__navitem a:before {
  content: "";
  width: 10px;
  height: 14px;
  margin: 0 20px;
  background-color: transparent;
  display: inline-block;
  transition-duration: 0.4s;
}
.c-header__navitem a:hover:before {
  background-color: #eaa4a4;
}
.main,
.c-footer {
  width: 710px;
  float: left;
  margin: 20px 0;
  margin-left: 260px;
}
.c-section {
  /* padding: 20px; */
  margin-bottom: 30px;
}
.c-ttl-lv2 {
  margin-bottom: 30px;
  font-size: 0.24rem;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0 0 20px;
  padding: 10px 20px;
  border-left: 5px solid #d8cfc7;
  background: rgba(243, 242, 238, 1);
}
.c-item-ttl {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.c-item-ttl h3,
.c-item-ttl__txt {
  float: left;
  margin-right: 20px;
}
.c-item-ttl__date {
  float: right;
  margin-left: 20px;
}
.c-item__content {
  /* padding: 5px 0; */
  margin-bottom: 30px;
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.c-item__txtarea {
  float: left;
  margin: 0 0 0 20px;
  width: calc(70% - 20px);
}
.c-item__img {
  float: left;
  /* margin: 5px 10px; */
  max-width: 240px;
  width: 30%;
  background-color: #ccc;
  position: relative;
}
.c-item__img--circle {
  border-radius: 50%;
  background-color: #fff;
  width: 25%;
  margin-left: 5%;
}
.c-item__img img {
  max-width: 100%;
  height: auto;
  transition-duration: 0.6s;
}
.c-item__img a:hover img {
  opacity: 0.4;
}
.c-item__img .img-hover {
  color: #fff;
  width: 70px;
  height: 50px;
  padding: 5px 10px;
  text-align: center;
  border: solid 2px #fff;
  position: absolute;
  bottom: calc(50% - 30px);
  left: calc(50% - 45px);
  display: none;
  transition-duration: 1s;
}
.c-item__img a:hover .img-hover {
  display: block;
}
.c-item__chip {
  padding: 0.01rem 15px;
  margin-right: 10px;
  font-size: 0.11rem;
  background-color: #eee;
  display: inline-block;
}
.c-item__tag {
  padding: 2px 20px;
  font-size: 0.1rem;
  background-color: #edd5d5;
  border-radius: 15px;
  display: inline-block;
}
.c-header__menubtn {
  height: 40px;
  background-color: #f3f2ee;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  padding: 0 0;
  cursor: pointer;
  display: none;
}
.c-header__menubtn span {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #666;
  display: block;
  left: 5px;
}
.c-header__menubtn span:nth-of-type(1) {
  top: 8px;
}
.c-header__menubtn span:nth-of-type(2) {
  top: 18px;
}
.c-header__menubtn span:nth-of-type(3) {
  top: 28px;
}
.is-active.c-header__menubtn span:nth-of-type(2) {
  width: 0;
  left: 0px;
}
.is-active.c-header__menubtn span:nth-of-type(1) {
  transform: rotate(315deg);
  top: 18px;
}
.is-active.c-header__menubtn span:nth-of-type(3) {
  transform: rotate(-315deg);
  top: 18px;
}
.c-footer p {
  text-align: right;
  margin: 20px;
}
.c-lead__txt {
  line-height: 2;
}
.pagetop {
  position: fixed;
  bottom: 10px;
  right: 30px;
  font-size: 0.5rem;
  text-shadow: 0 2px #aaa;
}
.pagetop a {
  color: #666666;
  transition-duration: 0.2s;
}
.pagetop a:hover {
  color: #eaa4a4;
}
@media screen and (max-width: 960px) {
  .c-header {
    position: relative;
    width: 100%;
    background-repeat: repeat-x;
    overflow: hidden;
  }
  .c-header__inner {
    width: 40%;
    margin: 0;
    padding: 15px;
  }
  .c-header__nav {
    display: none;
    margin: 0;
    padding: 0 10px;
  }
  .c-header__navitem {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .c-header__navitem:last-of-type {
    border: none;
  }
  .c-header__menubtn {
    display: block;
  }
  .c-header__navitem a:before {
    display: none;
  }
  .main,
  .c-footer {
    float: none;
    margin: 20px auto;
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .main {
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
  }
  .c-item__content {
    margin-bottom: 30px;
  }
  .c-section {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .c-ttl-lv2 {
    margin: 0 -20px 20px;
    margin-bottom: 20px;
    border-left: none;
    border-bottom: 2px solid #d8cfc7;
  }
  .c-lead__txt {
    line-height: 1.8;
  }
  .c-item-ttl {
    padding-bottom: 5px;
    border-bottom: none;
  }
  .c-item__img {
    width: 240px;
    max-width: 90%;
    margin: 0 auto;
    float: none;
  }
  .c-item__img--circle {
    width: 200px;
    margin: 20px auto;
  }
  .c-item__txtarea {
    width: 400px;
    max-width: 100%;
    margin: 20px auto 0;
    float: none;
    padding: 0 5px;
  }
  .c-item-ttl__date {
    float: right;
  }
  .c-footer p {
    text-align: center;
  }
}
@media screen and (min-width: 961px) {
  .c-header__nav {
    display: block !important;
  }
}
/* utilities, layout
---------------------------------------- */
.u-clx:after {
  content: "";
  clear: both;
  display: block;
}
.u-mt5 {
  margin-top: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mt15 {
  margin-top: 15px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb15 {
  margin-bottom: 15px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr15 {
  margin-right: 15px;
}
.u-mr20 {
  margin-right: 20px;
}
.l-float-l {
  float: left;
}
.l-float-r {
  float: right;
}
